* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 0 16px;
    color: #fff;
    border-radius: 14px;
    background: #2ac9bf;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 68px;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0px auto;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    background: #ffffff;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .row {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.header .nav {
    margin: 0 auto;
}

.header .nav .list {
    display: flex;
    gap: 0 39px;
}

.header .nav a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .nav a:hover {
    text-shadow: 1px 0px 0px #2f3a3b;
}

.header .list .active a {
    text-shadow: 1px 0px 0px #2f3a3b;
}

.header .action a {
    display: inline-block;
    text-align: center;
    padding: 12px 24px;
    min-width: 108px;
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .action .btn {
    padding: 12px 16px;
    min-width: 108px;
    line-height: 22px;
    border-radius: 6px;
    background: transparent;
    border: 1px solid #1ebfc1;
    color: #1ebfc1;
    font-size: 1.6ren;
    font-weight: 600;
}

.header .action a:hover {
    display: inline-block;
    min-width: 108px;
    line-height: 24px;
    border-radius: 6px;
    background: #2ac9bf;
    color: #fff;
    font-size: 1.6ren;
    font-weight: 600;
    border: none;
}

/* Hero */

.hero {
    padding: 42px 0 79px;
}

.hero .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    width: 39.1%;
}

.hero-content .label {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero-content .title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.hero-content .desc {
    margin-top: 46px;
    max-width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.hero-cta {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero-cta .btn {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero-cta .cta-play {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    border: none;
    background: #ffffff;
    padding: 0;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.1);
}

.hero-cta .cta-play:hover {
    opacity: 0.9;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.15);
}

.hero-media {
    position: relative;
}

.hero-image {
    width: 576px;
    height: 631px;
    background: #e0f7f6;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* hero summary 1 */

.hero-summary-1 .icon {
    position: relative;
    height: 40px;
}

.hero-summary-1 .child {
    position: absolute;
    left: 4px;
    bottom: 9px;
}

.hero-summary-1 {
    position: absolute;
    top: 149px;
    left: -40px;
    padding: 17px 25px 18px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.hero-summary-1 .title {
    margin-left: 16px;
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}

/* hero summary 2 */

.hero-summary-2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: -65px;
    bottom: 46px;
    padding: 16px 25px 13px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary-2 .title {
    text-align: center;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1;
}

.hero-summary-2 img {
    height: 6px;
}

.hero-summary-2 img:first-of-type {
    margin: 16px 0 12px;
}

.hero-summary-2 img:not(.hero-summary-2 img:first-of-type) {
    margin-bottom: 10px;
}

.hero-summary-2 img:last-of-type {
    margin-top: 10px;
}

/* hero summary 3 */

.hero-summary-3 {
    padding: 17px 35px;
    position: absolute;
    bottom: 58px;
    right: 45px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary-3 .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 600;
}

.hero-summary-3 .list {
    margin-top: 8px;
    display: flex;
}

.hero-summary-3 .list .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-summary-3 .item:not(.hero-summary-3 .item:first-child) {
    margin-left: -7px;
}

.hero-summary-3 .item span {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.hero-summary-3 .avatar.blue {
    background: #1ebfc1;
}

.hero-summary-3 .avatar.yellow {
    background: #ffc147;
}

.hero-summary-3 .avatar.orange {
    background: #ff947a;
}

.hero-summary-3 .avatar.purple {
    background: #bf83ff;
}

/* Features */

.features {
    padding-top: 130px;
}

.features-content {
    width: 50.5%;
}

.features-content .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features-content .sub-title {
    margin: 18px 0;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}

.features-content .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

.features-list {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.features-item:first-child {
    width: 14.4%;
    margin-right: 9px;
}

.features-item:not(.features-item:first-child) {
    width: 19.1%;
    margin-left: 200px;
}

.features-item .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features-item .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}

/* Courses */

.courses {
    padding: 130px 0 65px;
}

.courses-heading .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.courses-heading .sub-title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.courses-content {
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-content .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.courses-content .view {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
}

.courses-group {
    margin-top: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 47px;
}

.courses-item {
    position: relative;
    width: calc(33.33% - 16px);
    height: 517px;
}

.courses-item .thumb {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    opacity: 0.7;
    background: #d0efed;
    object-fit: cover;
}

.courses-info {
    top: 322px;
    left: 17px;
    right: 17px;
    position: absolute;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses-info .sub-title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.courses-info .price {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.courses-info .price strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses-info .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
}

.courses-item .sub-info {
    margin-top: 18px;
    display: flex;
}

.courses-item .sub-info .desc {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-right: 10px;
}
.courses-item .sub-info .desc::before {
    height: 6px;
    width: 6px;
    content: "";
    background: #1ebfc1;
    border-radius: 50%;
}

/* About */

.about {
    margin-top: 70px;
    padding: 65px 0 130px;
}

.about-qty {
    padding: 65px 0;
    display: flex;
    justify-content: center;
}

.qty-group {
    display: flex;
    align-items: center;
    gap: 0 200px;
}

.qty-group .qty {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.qty-group .qty-desc {
    margin-top: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

.about-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    height: 481px;
}

.about-content {
    width: 36%;
}

.about-content .content blockquote {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.about-content .student {
    display: inline-flex;
    align-items: center;
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.about-content .student span {
    display: inline-flex;
    align-items: center;
    gap: 0 5px;
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.about-content .student span::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 2px;
    background: #070707;
}

.about-content .controls {
    display: flex;
    gap: 0 30px;
    margin-top: 52px;
}

.about-content .controls-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #2ac9bf;
}

.about-content .controls-btn:hover {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.about-media {
    position: relative;
    width: 58%;
    height: 100%;
    border-radius: 50%;
}

.about-media .avatar {
    border-radius: 50%;
}

.about-media .avatar.avt-235 {
    position: absolute;
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;
    object-fit: cover;
    background: #ff8282;
}

.about-media .avatar.avt-92 {
    position: absolute;
    top: 0;
    left: 144px;
    width: 92px;
    height: 92px;
    object-fit: cover;
    background: #1ebfc1;
}

.about-media .avatar.avt-110 {
    position: absolute;
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
    object-fit: cover;
    background: #bf83ff;
}

.about-media .avatar.avt-78 {
    position: absolute;
    top: 258px;
    left: 0;
    width: 78px;
    height: 78px;
    object-fit: cover;
    background: #ffc147;
}

.about-media .avatar.avt-78.st-2 {
    left: 212px;
    top: 403px;
    background: #ff947a;
}

.about-media .avatar.avt-78.st-3 {
    top: 374px;
    left: 569px;
    background: #b1dfdc;
}
